---
import Link from "./ui/link.astro";
---

<div
  class="group hover:shadow-2xl ease-in-out bg-black p-8 md:px-20 md:py-20 mt-[150px] mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  
  <h2 class="text-white text-4xl md:text-2xl sm:text-xl tracking-tight group-hover:scale-50 duration-700 ease-in-out">
    Get a free audit of your business digital presence
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl group-hover:scale-150 duration-700 ease-in-out">
    Or Schedule a Meeting
  </p>
  <div class="flex mt-5 hover:bg-primary hover:scale-150 duration-700 ease-in-out ">
    <Link href="/contact" >Contact US</Link>
  </div>
</div>
