---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
{
  title: "Web Development",
  description: "Create stunning, SEO-friendly websites that are responsive, fast, and tailored to meet your business goals.",
  image: "https://cdn-icons-png.flaticon.com/512/5339/5339184.png"
},
{
  title: "SEO",
  description: "Boost your search engine rankings and drive organic traffic to your site with our comprehensive SEO strategies.",
  image: "https://cdn-icons-png.flaticon.com/512/845/845657.png"
},
{
  title: "Social Media Marketing & Management",
  description: "Engage your audience and grow your online presence with our expert social media marketing and management services.",
  image: "https://cdn-icons-png.flaticon.com/512/2111/2111463.png"
},
{
  title: "ASO",
  description: "Optimize your app's visibility and drive downloads with our effective App Store Optimization (ASO) techniques.",
  image: "https://rankmyapp.com/wp-content/uploads/2021/12/Grupo-10761@2x.png"
},
{
  title: "Website Management",
  description: "Ensure your website runs smoothly and stays updated with our reliable and efficient website management services.",
  image: "https://cdn-icons-png.flaticon.com/512/2929/2929210.png"
},
{
  title: "UI/UX Design",
  description: "Deliver exceptional user experiences with our innovative UI/UX design solutions that prioritize usability and aesthetics.",
  image: "https://cdn-icons-png.flaticon.com/512/3183/3183447.png"
},

  
];
---

<div class="mt-16 md:mt-0 bg-[url('assets/background.svg')]">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Our Services

  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Explore our comprehensive suite of services.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start hover:shadow-md p-[10px] transfrom hover:scale-125 ease-in-out	duration-500	">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <img class="overflow-hidden" src={item.image} alt="">
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
